html, body {
	height: 100%;
}

body {
	font-family: Voltaire;
	padding: 0px;
	margin: 0px;
}

header {
	background-color: #729D34;
	color: white;
	text-align:center;
}

iframe {
	display: block;
	border: none;
}

h2 {
	color: #729D34;
}

nav {
	text-align: center;
	display: flex;
}

.sidebar {
	display: flex;
	text-align: center;
	flex-direction: column;
	min-width: 200px;
}


nav.tabs a {
	background-color: #ccc;
	margin: 0px 10px;
	border-radius: 10px 10px 0px 0px;
}
nav.justified a {
	flex: 1;
}

.sidebar a {
	display: block;
}

.btn,
nav a {
	background-color: #729D34;
	color: white;
	text-decoration: none;
	/*font-size: 1.2em;*/
	padding:5px;
	cursor: pointer;
}

nav a.active,
nav a:active,
nav a:hover,
nav a:focus {
	background-color: #92bd54;
}

.round {
	border-radius: 50%;
}